$color-dark: #000;
$color-light: #fff;
$color-dark-gray: #404040;
$color-light-gray: #c4c4c4;
$color-dark-alternate: #131619;

$border-radius: 30px;
$border: 1px solid $color-light;

$font-family-base: "Heebo", sans-serif;
$font-family-accent: "Yantramanav", sans-serif;

$input-height: 54px;

$container-width: 1300px;
$container-padding: 15px;

$transition-duration: 0.2s;

$header-height: 90px;

a {
  color: $color-light;
  text-decoration: none;
  &:hover {
    color: $color-light-gray;
  }
}
a,
button,
input,
textarea,
svg * {
  transition-duration: $transition-duration;
}

body {
  font-family: $font-family-base;
  background-color: $color-dark;
  color: $color-light-gray;
  line-height: 1.75;
  font-size: 16px;
}
.container {
  max-width: calc($container-width + ($container-padding * 2));
  padding: $container-padding;
  transition-duration: $transition-duration;
  margin-inline: auto;
  padding-inline: $container-padding;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  border: none;
  display: inline-flex;
  height: 38px;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  text-transform: uppercase;
  padding-inline: 26px;
  white-space: nowrap;
  background-color: $color-light;
}

.button.transparent {
  height: $input-height;
  padding-left: 30px;
  padding-right: 80px;
  background-color: transparent;
  border: $border;
  position: relative;
  font-weight: 700;
  transition-duration: $transition-duration;
  color: $color-light;
  &:hover,
  &:hover::after {
    // border-color: $color-light-gray;

    color: $color-dark;
    background-color: $color-light-gray;
  }
}

.button.transparent::after {
  content: "";
  background: url(icons/button-arrow.svg) center/70% no-repeat;
  box-sizing: content-box;
  height: 100%;
  aspect-ratio: 1;
  position: absolute;
  right: 0;
  border: $border;
  border-radius: $border-radius;

  transition-duration: $transition-duration;
}

.title-medium {
  font-size: 40px;
  line-height: 130%;
  color: $color-light;
}
