@import "library";
@import "fonts";
@import "mixins";
@import "header";

.banner {
  padding-block: 40px;
  padding-inline: min(3.64vw, 70px);
  min-height: calc(100vh - 90px);
  // min-height: min(51.3vw, 985px);
  display: flex;
  flex-direction: column;
  justify-content: end;

  color: $color-light;

  background-color: $color-dark-alternate;

  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .banner {
    min-height: calc(100vh - 170px);
  }
}

.banner-info {
  display: flex;
  align-items: end;
  font-size: min(3.3vw, 30px);
  line-height: 1.27;
  font-weight: 700;
  &::before {
    content: "";
    width: min(10.1vw, 194px);
    aspect-ratio: 1;
    background: url(icons/white-arrow-down-right.svg) center/contain no-repeat;
    margin-left: min(2.55vw, 49px);
    margin-right: min(1.56vw, 30px);
  }
}
.banner-title {
  font-size: min(18.75vw, 360px);
  line-height: 1;
}
.banner-pagination {
  display: flex;
  justify-content: center;
}
.banner-pagination-list {
  display: flex;
}
.banner-pagination-item {
  display: flex;
}
.banner-pagination-button {
  display: inline-flex;
  justify-content: center;
  border: none;
  background: transparent;
  padding: 7px;
  &.is-current::after {
    background-color: $color-light;
  }
  &::after {
    content: "";
    width: 10px;
    aspect-ratio: 1;
    border: $border;
    border-radius: 50%;
    transition-duration: $transition-duration;
    &:hover {
      background-color: red;
    }
  }
}
.banner-pagination-button:not(.is-current):hover::after {
  background-color: $color-light-gray;
}

// first section complete

.motivation-item:nth-child(even) {
  background-color: $color-dark-alternate;

  flex-direction: row-reverse;
}

.motivation-item:nth-child(2) .motivation-card {
  flex-direction: row-reverse;
}

.motivation-card {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: clamp(30px, 10.41vw, 200px);
}

.motivation-card-body {
  padding-left: 35px;
}

.backdrop-title {
  position: relative;
  z-index: 0;

  &::before {
    content: attr(data-title);
    font-family: $font-family-accent;
    text-stroke: 1px $color-light-gray;
    -webkit-text-stroke: 1px $color-dark-gray;
    color: transparent;
    font-size: 2.8em;
    position: absolute;
    bottom: 10%;
    left: -1ch;
    z-index: -1;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    aspect-ratio: 1;
    background: url(icons/plus.svg) center/contain no-repeat;

    top: 0;
    right: calc(100%);
  }
}

.motivation-card-title:not(:last-child) {
  margin-bottom: 14px;
}

.motivation-card-title {
  font-size: min(6vw, 40px);
  line-height: 1.3;
}

.motivation-card-description {
  font-size: min(4vw, 13px);
  font-weight: 300;
  line-height: 175%;
  letter-spacing: 0.1em;
  max-width: 400px;
}
.motivation-card-description:not(:last-child) {
  margin-bottom: 28px;
}

.motivation-card-image {
  margin-block: -60px;
}
@media (max-width: 1919px) {
  .motivation-card-image {
    margin-block: -20px;
  }
}
@media (max-width: 1190px) {
  .motivation-card-image {
    max-width: 30%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .motivation-card {
    display: flex;
    flex-direction: column-reverse !important;
    & .motivation-card-image {
      max-width: 60%;
      height: auto;
      margin-bottom: 20px;
    }
    &-button {
      margin-bottom: 20px;
    }
    &-description {
      width: 80%;
    }
  }
}

// END OF MOTIVATION SECTION

.training-types-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 484px;
  max-width: 1920px;
  justify-content: space-around;
  align-items: center;
  margin-left: -30px;
}
.training-types-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  flex: 0 0 10.2vw;
}
.training-types-item::after {
  content: attr(data-title);
  color: $color-light;
  font-family: $font-family-base;
  font-size: clamp(13px, 0.83vw, 16px);
  font-weight: 700;
  line-height: 1.75;
  letter-spacing: 0.8px;
  margin-top: 30px;
  white-space: nowrap;
}
.training-types-item::before {
  content: "";
  background: url(icons/arrow-transparent-down-left.svg) center/contain
    no-repeat;
  width: clamp(60px, 4.22vw, 81px);
  aspect-ratio: 1;
  display: block;
  margin-left: clamp(120px, 10.41vw, 200px);
  margin-top: 10px;
}
.training-types-image {
  width: clamp(80px, 7.29vw, 140px);
  height: clamp(80px, 7.29vw, 140px);
}

// END OF TRAINING-TYPES SECTION

.join-us-video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: $color-dark-alternate url(images/join-us-background.jpg)
    center/cover no-repeat;
  padding: 150px 30px;
}
.join-us-video-play-button {
  background: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: $border;
  border-radius: 50%;
  width: 200px;
  aspect-ratio: 1;
  position: absolute;
  color: $color-light;

  font-family: $font-family-base;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  transition-duration: $transition-duration;

  &::after {
    content: "";
    background: url(icons/button-arrow.svg) center/contain no-repeat;
    height: 1.8em;
    aspect-ratio: 1;
  }
  &:hover {
    background-color: rgba($color: $color-light-gray, $alpha: 0.3);
  }
}

.join-us-title {
  font-size: 180px;
  font-weight: 700;
  line-height: 1.2;
  color: $color-light;
  position: absolute;
  top: -12%;
  &::after {
    content: "";
    display: inline-block;
    background: url(icons/bold-arrow-top-right.svg) center/contain no-repeat;
    width: 127px;
    height: 127px;
    margin-left: 25px;
  }
}

.join-us-body {
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible;
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: $color-dark-alternate;
    overflow: visible;
    z-index: -1;
  }
}
.join-us-form {
  padding: 213px 0 100px 0;
  &-title {
    width: max-content;
    margin-inline: auto;
    position: relative;
    font-size: 60px;
    line-height: 72px;

    color: $color-light;
  }
  &-subtitle {
    width: max-content;
    padding-block: 10px;
    margin-inline: auto;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.65;
  }
}

@media (max-width: 1054px) {
  .join-us-form {
    & .input {
      width: 250px;
    }
  }
}
@media (max-width: 1024px) {
  .join-us-title {
    font-size: clamp(65px, 17vw, 180px);
    &::after {
      content: "";
      width: clamp(45px, 12vw, 180px);
      height: clamp(45px, 12vw, 180px);
    }
  }
}

@media (max-width: 767px) {
  .join-us-title {
    top: 0%;
    transform: translate(0, -45%);
  }
  .join-us-form {
    &-title {
      font-size: clamp(35px, 3.13vw, 60px);
    }
    &-subtitle {
      width: max-content;
      margin-inline: auto;
      font-size: clamp(15px, 1.04vw, 20px);
      line-height: 1.65;
    }
  }
}

@media (max-width: 1024px) {
  .join-us-video {
    width: 90%;
    height: auto;
  }
  .join-us-video-play-button {
    width: 20%;
  }
}

.centered::before {
  left: 50%;
  transform: translate(-50%, 0);
}

.join-us-form {
  &-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 52px;
  }
  &-button {
    color: $color-light;
    font-size: 13px;
  }
  & input {
    height: $input-height;
    border-radius: $border-radius;
    background-color: transparent;
    border: 1px solid $color-dark-gray;
    width: 400px;
    padding: 25px 20px;
    color: $color-light;
  }
}

.input {
  height: $input-height;
  border-radius: $border-radius;
  background-color: transparent;
  border: 1px solid $color-dark-gray;
  width: 400px;
  padding: 25px 20px;
  color: $color-light;
  &::placeholder {
    color: $color-light-gray;
  }
}
.join-us-form .input::placeholder {
  color: $color-light-gray;
}

// end of join-us

.location {
  display: flex;
}
.location-map,
.location-body {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.location-body-description {
  width: 500px;
  text-align: center;
  margin-bottom: 37px;
}
@media (max-width: 1024px) {
  .location {
    flex-direction: column;

    gap: 50px;
  }
  .location-map,
  .location-body {
    width: 100%;
  }
  .location-body {
    margin-block: 50px;
  }
}
@media (max-width: 530px) {
  .location-body-description {
    width: auto;
  }
  .location-body-title {
    font-size: 30px;
  }
}

// end of location

.family {
  background-color: $color-dark-alternate;
}
.family-header {
  padding-block: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  &-title {
    font-size: clamp(20px, 3.13vw, 60px);
    &::before {
      bottom: -90%;
    }
    &::after {
      top: 10%;
    }
  }
  &-subtitle {
    width: max-content;
    margin-inline: auto;
    font-size: clamp(13px, 1.04vw, 20px);
    line-height: 1.65;
  }
}

.family-body {
  overflow: hidden;
  margin-inline: 20px;
  border-radius: 25px;
  position: relative;
}

.family-body-slider {
  position: relative;
  display: flex;
  column-gap: 20px;
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab;

  &.active {
    cursor: grabbing;
  }
}
.family-body-slider::-webkit-scrollbar {
  display: none;
}

.family-body-slider-card {
  flex: 0 0 auto;
  list-style: none;
}

.family-body-slider-card-image {
  display: block;
  height: 480px;
  width: 100%;
  object-fit: cover;
}

// end of family

.calculate {
  background-color: $color-dark-alternate;
  padding-block: 146px;
  padding-inline: 30px;
}

.calculate-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 36px;
}

.calculate-input {
  height: $input-height;
  border-radius: $border-radius;
  background-color: transparent;
  border: 1px solid $color-dark-gray;
  padding: 0 20px;
  color: $color-light;
  &::placeholder {
    color: $color-light-gray;
  }
  & option {
    color: $color-dark;
  }
}

select:invalid {
  color: $color-light-gray;
}

.calculate-body {
  max-width: 630px;
  flex-grow: 1;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.calculate-title {
  white-space: nowrap;
}
.calculate-description {
  margin-bottom: 30px;
  min-width: 300px;
  max-width: 385px;
}
.calculate-form-body:not(:last-child) {
  margin-bottom: 26px;
}

.calculate-form-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 30px;
}
.calculate-input {
  width: auto;
}
.wide {
  grid-column: -1 / 1;
}
.calculate-table-wrapper {
  position: relative;
  width: 100%;
  max-width: 610px;

  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: $color-dark;
  }
}
.calculate-table {
  position: relative;
  border-collapse: collapse;

  & th {
    padding-block: 20px;
    text-transform: uppercase;
    color: $color-light;

    text-align: left;
  }
  & td {
    padding-block: 14px;
  }
  & tfoot {
    color: $color-light;
  }
}
.calculate-table tfoot td {
  padding-top: 33px;
  padding-bottom: 0;
}

.calculate-table :is(td, th) {
  padding-right: 30px;
  &:not(:first-child) {
    padding-left: 30px;
  }
}
.calculate-table :is(td, th):not(:last-child) {
  border-right: 1px solid $color-dark-gray;
}
.calculate-table tbody td {
  border-top: 1px solid $color-dark-gray;
}

.calculate-table tbody tr:last-child td:first-child {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 70%;
    height: 1px;
    bottom: 0;
    right: 0;
    background-color: $color-dark-gray;
  }
}
@media (max-width: 1035px) {
  .calculate {
    padding-block: 100px;
  }
  .calculate-inner {
    column-gap: 20px;
  }
  .calculate-form-body {
    grid-template-columns: 1fr;
  }

  .calculate-form-button {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .calculate-inner {
    flex-direction: column;
    row-gap: 50px;
  }
  .calculate-table-wrapper::before {
    display: none;
  }
}
@media (max-width: 600px) {
  .calculate-table :is(td, th) {
    padding-block: 10px;
    &:not(:first-child) {
      padding-left: 10px;
    }
  }
  .calculate {
    padding-block: 50px;
  }
}

// end of calculate block

$footer-logo-width: 20.77%;

.footer-main {
  padding-top: 140px;
  padding-bottom: 160px;
}

.footer-header,
.footer-body {
  display: grid;
  column-gap: 62px;
}
.footer-header {
  grid-template-columns: $footer-logo-width auto;

  font-size: 20px;
  text-transform: uppercase;

  margin-bottom: 80px;
}

.footer-header:not(:last-child) {
}

.footer-body {
  grid-template-columns: $footer-logo-width repeat(3, 1fr);
}

.footer-column-title {
  font-size: clamp(18px, 1.15vw, 22px);
  color: $color-light;
}
.footer-column-title {
  margin-bottom: 15px;
}

.footer-schedule:not(:last-child) {
  margin-bottom: 13px;
}
.footer-address {
  font-style: normal;
}
.footer-address:not(:last-child) {
  margin-bottom: 35px;
}

.footer-extra {
  font-size: 14px;
  padding-block: 15px;
  background-color: $color-dark-alternate;
}

.has-arrow::after {
  content: "";
  display: inline-block;
  background: url(icons/bold-arrow-top-right.svg) center / contain no-repeat;
  width: 0.74em;
  height: 0.74em;
  rotate: 180deg;
  margin-left: 0.5em;
}
.footer-subscribe {
  position: relative;
  margin-bottom: 50px;
}
.footer-subscribe input {
  width: 100%;
  
  position: relative;
  padding-right: 70px;
}
.footer-subscribe-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background: transparent url(icons/button-arrow.svg) center/70% no-repeat;
  border-radius: 50%;
  border: 1px solid $color-dark-gray;
}
.footer-subscribe-button:hover {
  background-color: $color-light-gray;
}
.footer-soc1als-list {
  display: flex;
  gap: 19px;
}
.footer-soc1als-item {
  height: 20px;
  aspect-ratio: 1;
}
.footer-logo {
    width: 270px;
}
@media (max-width: 900px) {
    .footer-logo {
        margin-inline: auto;
    }
    .footer-header {
        text-align: center;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
    }
    .footer-logo {
        width: 270px;
    }
    .footer-main-inner, .footer-extra-inner {
        margin-inline: 30px;
    }
    .footer-body {
        grid-template: 1fr 1fr / 1fr 1fr
    }
}
@media (max-width: 550px) {
    .footer-body {
            grid-template: 1fr 1fr / 1fr;
    }
    .footer-column {
        text-align: center;
    }
    .footer-soc1als {
        display: flex;
        justify-content: center;
    }
    .footer-main-inner, .footer-extra-inner {
        margin-inline: 5px;
    }
    .footer-main {
        padding-top: 40px;
        padding-bottom: 60px;
      }
}
