    
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding-inline: 32px;
    min-height: $header-height;
    background-color: $color-dark-alternate;

    &-logo {
        flex-shrink: 0;
    }
}
.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 62px;

}
.header-menu-link {
    position: relative;
    display: inline-flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    height: $header-height;
    letter-spacing: 1.2px;
    column-gap: 7px;
    align-items: center;
    &::before {
        content: '';
        display:block;
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $color-light-gray;
        transform: scale(0,1);
    }
    &.is-current::after {
        content: "";
        width: 5px;
        aspect-ratio: 1;
        background-color: currentColor;
        border-radius: 50%;
    }
}

.header-menu-link:hover::before {
    transform: scale(1,1);
    transition-duration: $transition-duration;    
}

.header-actions {
    display: flex;
    column-gap: 40px;
}
.header-book-button {
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1.2px;
    &:hover {
        background-color: $color-light-gray;
    }
}
.header-burger-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
    width: 40px;
    aspect-ratio: 1;
    color: $color-light;
    border-radius: 50%;
    border: $border;
    background-color: transparent;
    &:hover {
        color: $color-light-gray;
        border-color: $color-light-gray;
    }

}
.header-burger-button-line {
    width: 8px;
    height: 1px;
    background-color: currentColor;
    box-shadow: 18px 0 0 currentColor;
}

@media (max-width: 1024px) {
    .header{
            flex-wrap: wrap;
            row-gap: 10px;
            padding: 15px;
    }
    .header-menu {
        display: inline-flex;
        justify-content: center;
        order: 3;
        width: 100%;
    }
    .header-menu-link {
        padding-block: 10px;
}}
@media (max-width: 768px) {
    .header {

    padding-top: 20px;
    }
    .header-actions{
        column-gap: 10px;
    }
    .header-menu-link {
        padding-inline: 0;
    }
    .header-menu-list {
    column-gap: 6.2vw;
    }
    .button {
    padding-inline: 20px;
    }
}